<h1>Listing houses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Flag</th>
    <th>Counter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @houses.each do |house| %>
  <tr>
    <td><%= house.title %></td>
    <td><%= house.description %></td>
    <td><%= house.flag %></td>
    <td><%= house.counter %></td>
    <td><%= link_to 'Show', house %></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New House', new_house_path %>
